@import "./../../assets/style/varibles/varibles.scss";
@import "./../../assets/style/mixins/mixin.scss";


.service{
    width: 100%;
    .containerr{
        width: 70%;
        padding: 100px 0px;
        .service-heading{
            @include display-flex(center,center);
            flex-direction: column;
            margin-bottom: 50px;
            .svg-wrapper{
                margin-bottom: 20px;
            }
            .heading{
                width: 70%;
                @include display-flex(center,center);
                gap:0px;
                .line{
                    width: 30%;
                    height: 2px;
                    background-color: $primary-color;
                  
                }
                h1{
font-size: 60px;
color: black;
                }
            }
        }

        .box{
            @include display-flex(center,center);
            flex-direction: column;
            text-align: center;
            .box-heading{
                font-size: 30px;
                color: black;
                font-weight: 800;
margin-bottom: 30px;
            }
            .box-content{padding: 0px 30px;
               p{
                color:$text-color;
                line-height: 1.8;
                font-size: 18px;
                font-weight: normal;
               }
            }
        }

       
    }
}